.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    

}

.gradient_background {
    background: linear-gradient(90deg, #0062ff, #da61ff);
    height: 100vh;
    width: 100vw;
}

.shadow {
    border-radius: 20px;
    box-shadow: 4px 0px 10px rgba(33, 33, 33, 0.598);
}

.whole-drum {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
    width: min-content;
    background-color: rgba(237, 237, 237, 0.817);
    
}

.drum-pad {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    background-color: rgba(237, 237, 237, 0.817);
    border-radius: 40px 40px;
    box-shadow: 4px 4px 10px rgb(33, 33, 33);
    transition: all 0.3s ease-in-out;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.drum-pad:active {
    transform: translate(8px, 8px);
}

.sound-type {
    padding: 20px;
    color: white;
    font-size: 22px;
    font-weight: 900;
    background-color: rgba(237, 237, 237, 0.368);
    border-radius: 0 0 20px 20px;
    
}

.btn-sound-type {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: rgba(16, 16, 16, 0.272);
    width: 50%;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 4px 4px 5px rgba(33, 33, 33, 0.501);
}

.title {
    background-color: rgba(237, 237, 237, 0.368);
    padding: 10px;
    border-radius: 20px 20px 0 0;
    
}

h2 {
    font-size: 20px;
    font-weight: 400;
}